a.ttime0:link {text-decoration: none; color: #FF0000;}
a.ttime0:visited {text-decoration: none; color: #FF0000;}
a.ttime0:active {text-decoration: none; color: #FF0000;}
a.ttime0:hover {text-decoration: none; color: #FF5555;}

a.ttime1:link {text-decoration: none; color: #AA43DD;}
a.ttime1:visited {text-decoration: none; color: #AA43DD;}
a.ttime1:active {text-decoration: none; color: #AA43DD;}
a.ttime1:hover {text-decoration: none; color: #BB54EE;}

a.ttime2:link {text-decoration: none; color: #FF66CC;}
a.ttime2:visited {text-decoration: none; color: #FF66CC;}
a.ttime2:active {text-decoration: none; color: #FF66CC;}
a.ttime2:hover {text-decoration: none; color: #FF8FDA;}

a.ttime3:link {text-decoration: none; color: #FF9C00;}
a.ttime3:visited {text-decoration: none; color: #FF9C00;}
a.ttime3:active {text-decoration: none; color: #FF9C00;}
a.ttime3:hover {text-decoration: none; color: #FFB238;}

a.ttime4:link {text-decoration: none; color: #FFF200;}
a.ttime4:visited {text-decoration: none; color: #FFF200;}
a.ttime4:active {text-decoration: none; color: #FFF200;}
a.ttime4:hover {text-decoration: none; color: #FFF97B;}

a.ttime5:link {text-decoration: none; color: #00FF00;}
a.ttime5:visited {text-decoration: none; color: #00FF00;}
a.ttime5:active {text-decoration: none; color: #00FF00;}
a.ttime5:hover {text-decoration: none; color: #75FF75;}

a.ttime6:link {text-decoration: none; color: #0090FF;}
a.ttime6:visited {text-decoration: none; color: #0090FF;}
a.ttime6:active {text-decoration: none; color: #0090FF;}
a.ttime6:hover {text-decoration: none; color: #52B4FF;}

a.ttime7:link {text-decoration: none; color: #F3F5CA;}
a.ttime7:visited {text-decoration: none; color: #F3F5CA;}
a.ttime7:active {text-decoration: none; color: #F3F5CA;}
a.ttime7:hover {text-decoration: none; color: #F3F5CA;}

body {
  font-family:monospace,courier new;
  font-size: 9pt;
}

#main {
  width: 1000px;
  padding: 8px;
  height: 100%;
  text-align: left;
  margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

a.header {
  width: 1000px;
  height: 111px;
  display: block;
}

#ads {
  margin: 8px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  width: 984px;
  text-align: center;
}

#left {
  margin: 8px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  width: 150px;
	float: left;
}

#mid {
  margin: 8px 0px 0px 180px;
  padding: 10px 10px 10px 10px;
  width: 798px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #404040 #202020;
}

.menuheader {
  padding: 2px 2px 2px 2px;
  margin: 0px 0px 4px 0px;
  text-align: center;
}

.small {
  font-size: 8pt;
}

table.times {
  border-width: 1px;
  border-spacing: 1px;
  border-collapse: collapse;
}

th {
  text-align: left;
}
th.left {
  text-align: left;
}
th.times {
  border-width: 1px;
  padding: 1px;
  text-align: left;
}
td.times {
  border-width: 1px;
  padding: 1px;
}

.lefty {
  float: left;
  margin-right: 32px;
}

.box {
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

.box2 {
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  background-color: #333333;
}

.ubwrap {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  float: right;
}

img {
  border: 0px;
}

/****tabber stuff****/

.tabberlive .tabbertabhide {
  display: none;
}
.tabberlive {
  margin-top: 1em;
}

ul.tabbernav {
  margin: 0;
  padding: 3px 0;
}

ul.tabbernav li {
  list-style: none;
  margin: 0;
  display: inline;
}

ul.tabbernav li a {
  padding: 3px 0.5em;
  margin-left: 3px;
}

.tabberlive .tabbertab {
  padding: 5px;
  border-top: 0;
}

.tabberlive .tabbertab h2 {
  display:none;
}

.tabberlive .tabbertab h3 {
  display:none;
}
